*.suo
*.user
*.pdb
*.json.g.cs
*.cache
*.pdf
_ReSharper*
*.exe
src/bin/
src/obj/x64/debug/
src/Client/bower_components/
src/Client/reports/
src/wwwroot/src/Client/reports/
src/wwwroot/src/Client/PEAccounting/
ShellScripts/Autodeploybackup.ps1
ShellScripts/script.bat
UserAdminApp/src/obj/
UserAdminApp/src/obj/
SignInApp/src/obj/
SignInApp/src/obj/
Launcher/obj/
Launcher/bin/
bin/
AdFront/obj/
AdFront/bin/
AdBulker/obj/
AdBulker/bin/
DownloadQueue/obj/
DownloadQueue/bin/
AdAnalytics/obj/
AdAnalytics/bin/
!/third_party/*.dll
!/ProxyApp/*
AdFront/obj/x64/Debug/AdFront.csproj.FileListAbsolute.txt
.idea
CentralStorage/obj/*
CentralStorage/bin/*
*.xml
*.psess
*.vspx
ResponseData
*.jpg
*.transform
Launcher/src/Launcher/obj/x64/Debug/*
UpgradeLog*.htm
src/Client/reports/*
src/third_party/ImageCapture/*
src/third_party/CefSharp-master/*
src/third_party/Url2PngApp/*
TestsAdFenix/bin/*
TestsAdFenix/obj/*
TestResults/*
Launcher-master/src/Launcher/wwwroot/sys/web-animations-js/README.md
packages/Smorgasbord.PropertyMetadata.1.0.0.1/Smorgasbord.PropertyMetadata.1.0.0.1.nupkg
src/third_party/ImageCapture/*
*/obj/*
*/bin/*
.vs/config/applicationhost.config
*.nupkg
src/node_modules/
src/Clients/web_components/
node_modules/
src/Client/e-conomic/*


# But not these files...
!.gitignore
!\People\src\People\bin\Debug\People.exe
UserAdmin/src/UserAdmin/obj/*
.vs/
src/Program.cs
/src/Client/PEAccounting
wwwroot/glfx.js/
packages/*
Debug
Docker
